.harbour h1{
	position:relative;
	display: inline-block;
	padding:1rem;
	margin:0;
	margin-top: 2rem;
	background-color: beige;
	border: 3px solid #654b26;
	border-radius: 10px;
}
.bldg-interior, .trade-posting{
	border:3px solid #654b26;
	background-color:rgb(255,240,220);
	border-radius: 10px;
}

#click-guard{
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	height:100%;
	z-index: 10;
}

.bldg-interior{
	width:80%;
	height:60%;
	padding: 2rem;
	padding-top: 5rem;
}
.bldg-interior h1{
	position:absolute;
	display: inline-block;
	top:-3rem;
	padding:1rem;
	margin:0;
	background-color: beige;
	border: 3px solid #654b26;
	border-radius: 10px;
}
form #submit-button {
	position: absolute;
	bottom:2em;
	right:2em;
	width:25%;
}


/*----------*/
/*-X-*/
/*----------*/
a:hover{
    text-decoration: none;
}
a.boxclose{
    position: absolute;
	top:0;
	right:15px;

    cursor:pointer;
    color: inherit;
    font-size: 3.5rem;
    font-weight: bold;
	z-index: 9;
}
.boxclose:before{
    content: "×";
}
/* X */

/*------------*/
/* CUSTOM DROPDOWN */
/*--------------*/
.wrapper-dropdown, .dropdown {
    /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    padding: 10px;
	border: 2px solid #654b26;
	border-radius: 10px;

    /* Styles */
    background: beige;
    color: #654b26;
    outline: none;
    cursor: pointer;

    /* Font settings */
    font-weight: bold;
}
.wrapper-dropdown {
	width: 200px;
}
.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #654b26 transparent;    
}

.dropdown{
	position: absolute;
	min-width: 200px;
	z-index: 10;
}
.dropdown li{
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 2px dotted #654b26;
}
.dropdown li:hover{
   	border-bottom: 2px solid #654b26;
}

/*------------*/
/* TRADE POSTING */
/*-------------*/
#bulletin-board{
	display: flex;
	flex-wrap: wrap;

	padding: 2rem;
}

.trade-posting{
	position: relative;
	height:18rem;
	width:25%;
	min-width: 200px;
	padding: 2rem;
	
	box-shadow: 0.1em 0.1em 1em rgba(0,0,0,0.2);
}

.trade-posting h3, .trade-posting h5 {
	margin:0;
}
.trade-posting div:first-child{
	border-bottom: 2px dotted #654b26;
}
.trade-posting div:nth-child(2){
	border-bottom: 1px solid #654b26;
}
.poster-info {
	float:right;
}
.trade-posting .btn{
	position: absolute;
	bottom:-1em;
	border: 2px solid #654b26;
	
}