#harbour h1{
	position:relative;
	display: inline-block;
	padding:1rem;
	margin:0;
	margin-top: 2rem;
	background-color: beige;
}

#harbour h1, #harbour .wrapper-dropdown, .trade-posting, .bldg-interior{
	box-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.2);
}

#harbour h1, #harbour .wrapper-dropdown, .bldg-interior, .trade-posting, .proposal, .proposed, #proposal-checker{
	border:3px solid #654b26;
	border-radius: 10px;
}
#harbour .wrapper-dropdown{
	display: inline-block;
}

.bldg-interior, .trade-posting, .proposal, .proposed, #proposal-checker{
	background-color:rgb(255,240,220);
}
#click-guard, #click-guard2{
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	height:100%;
	z-index: 10;
}

.bldg-interior{
	width:80%;
	height:60%;
	padding: 2rem;
	padding-top: 5rem;
}
.bldg-interior > h1, #proposal-checker > h1{
	position:absolute;
	display: inline-block;
	top:-3rem;
	padding:1rem;
	margin:0;
	background-color: beige;
	border: 3px solid #654b26;
	border-radius: 10px;
}

form #submit-button {
	position: absolute;
	bottom:2em;
	right:2em;
	width:25%;
}


/*----------*/
/*-X-*/
/*----------*/
a:hover{
    text-decoration: none;
}
a.boxclose{
    position: absolute;
	top:0;
	right:15px;

    cursor:pointer;
    color: inherit;
    font-size: 3.5rem;
    font-weight: bold;
	z-index: 9;
}
.boxclose:before{
    content: "×";
}
/* X */

/*------------*/
/* CUSTOM DROPDOWN */
/*--------------*/
.wrapper-dropdown, .dropdown {
    /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    padding: 10px;
	border: 2px solid #654b26;
	border-radius: 10px;

    /* Styles */
    background: beige;
    color: #654b26;
    outline: none;
    cursor: pointer;

    /* Font settings */
    font-weight: bold;
}
.wrapper-dropdown {
	width: 200px;
}
.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #654b26 transparent;    
}

.dropdown{
	position: absolute;
	min-width: 200px;
	z-index: 10;
}
.dropdown li{
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 2px dotted #654b26;
}
.dropdown li:hover{
   	border-bottom: 2px solid #654b26;
}

/*------------*/
/* TRADE POSTS ON BULLETIN */
/*-------------*/
#bulletin-board > div{
	display: flex;
	flex-wrap: wrap;

	padding: 2rem;
}

.trade-posting{
	position: relative;
	height:18rem;
	width:25%;
	min-width: 200px;
	padding: 2rem;
	margin-right: 2rem;
}

.trade-posting h3, .trade-posting h5 {
	margin:0;
}
.trade-posting div:first-child{
	border-bottom: 2px dotted #654b26;
}
.trade-posting div:nth-child(2){
	border-bottom: 1px solid #654b26;
}
.poster-info {
	float:right;
}
.trade-posting .btn{
	position: absolute;
	bottom:-1em;
	border: 2px solid #654b26;
	color:#fff;
}
/*------------*/
/* TRADE PROPOSALS IN MAILBOX */
/*-------------*/
#proposal-list > div{
	border-bottom: 2px dotted #654b26;
}
.proposal-text{
	display: flex;
	flex-direction: row;
	align-items: center;
	line-height: 2rem;
	padding-left: 1rem;
}
.proposal-text img{
	height: 3rem;
	margin:1rem;
}
.proposal, .proposed{
	color:#fff;
	line-height: 3rem;
	padding: 0.5rem;
	cursor: pointer;
}
.proposal{
	background-color:chocolate;
}
.proposed{
	background-color:green;
}

#proposal-checker{
	display: flex;
	flex-direction: column;
	padding:2rem
}
#proposal-checker h3,#proposal-checker h1{
	margin:0;
}
#trade-buttons{
	width:45%;
	margin: auto;
	margin-top: 2rem;
	margin-bottom:2rem;
	display: flex;
	flex-direction: row;
}
#trade-buttons .btn{
	display: inline-block;
	width:40%;
}
#trade-buttons .btn:last-child{
	margin-left: 20%;
}
#trade-details{
	display: flex;
	flex-direction: row;
	align-items: center;
}
