*{
    box-sizing: border-box;/*reset page*/
}
/* background image */
body {
    margin: 0;/*reset page*/
	background-color: #223;
	background-image: url("http://res.cloudinary.com/dmj8qtant/image/upload/c_limit,w_1600/v1458020372/parts/40324d1322809259-gridwhite.png");
	background-repeat: repeat;
	background-position: top;
	background-size: 30%;
     z-index: -10;
	color:white;
}
/* overall background color */
body:after{
  content: "";
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: -1;
  background-color:rgba(20,20,30,0.8);
}
.vert-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vert-menu{
  display: flex;
  flex-direction: column;
}
/* BASICS ^ */
/* RESET */
/* HEADER */
.navbar-default{
	background-color:rgba(220,220,240,0.1);
	border-radius: 0;
	border:0px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0;
}
#header > #group1 > a{
	color: white;
}
#header > #group1, #header > #group1 a{
	display: flex;
	flex-direction: row;
}
/* after title txt */
#header > #group1:after{
	content:"";
	position: relative;
	width:20px;
	height:50px;
	margin: 10px;
	border-radius: 5px;
	border:2px solid limegreen;
}
#header > #group1 a:after{
	content:"";
	position: relative;
	width:20px;
	height:30px;
	margin-left: 10px;
	margin-top: 20px;
	border-radius: 5px;
	border:2px solid orangered;
}

/* CUSTOM */
.btn-wide {
	display: block;
}