*{
    box-sizing: border-box;/*reset page*/
}
/* background image */
body {
    margin: 0;/*reset page*/
	background-image: url("img/swirl+icon.png");
	background-repeat: repeat;
	background-position: top;
	background-size: 30%;
     z-index: -10;
}
/* overall background color */
body:after{
  content: "";
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: -11;
  background-color:rgba(230,190,150,0.7);
}
body, .btn, #header > #group1 > a{
	color: #654b26;
}
.vert-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vert-menu{
  display: flex;
  flex-direction: column;
}
/* BASICS ^ */
/* RESET */
/* HEADER */
.navbar-default{
	border-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border:0px;
	border-right:3px solid #654b26;
	border-left:3px solid #654b26;
	border-bottom:3px solid #654b26;
	margin-bottom: 0;
	background-color: #ca8;
}
.btn-default{
	background-color:rgb(255,240,220);
}
.btn-default:hover{
	background-color:#fff;
}

#header > #group1, #header > #group1 a{
	display: flex;
	flex-direction: row;
}
#header > #group1 a:after{
	content:"";
	position: relative;
	width:60px;
	height:40px;
	background-image: url("img/2248-200.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-bottom: 10px;
}

/* CUSTOM */
