#intro{
	text-align: center;
}

#starter-book-list{
	display: flex;
	flex-direction: row;
}

.book-vertical{
	transition:all 0.5s ease;

	width:30%;
	margin: 1%;
	padding:30px;
	border:3px solid #654b26;
	background-color:rgb(255,240,220);
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
}
.book-vertical:hover{
	background-color:#fff;
	box-shadow: 0px 0px 15px rgba(255,255,255,0.5);
}
.book-img img{
	width:50%;
}
.book-name span{
	display: inline-block;
}
.hp-bar-red{
	position: relative;
	background-color:lightcoral;
	border-radius: 10px;
}
.hp-bar-green{
	position: absolute;
	content:"";
	top:0;
	right:0;
	background-color:lightgreen;
	border-radius: 10px;
	height:100%;
	width:50%;
}
.hp-value{
	position: relative;
	z-index: 2;
	
	font-weight: bold;
}