<div data-ng-controller="newGameController">
	<h1>New Game</h1>
	<form id="form" data-ng-submit="startGame()">
		<div id="inputs">
			<div class="form-group">
				<label>Your Name</label>
				<input type="text" name="name" class="form-control" data-ng-model="newFile.name" placeholder="Your Name">
			</div>
			<div class="form-group">
				<label>Library Name</label>
				<input type="text" name="ranchname" class="form-control" data-ng-model="newFile.library" placeholder="Make up a name for your library!">
			</div>
		</div>
		<button type="submit" class="btn btn-lg btn-success btn-block">Start</button>
	</form>
	<h3>Or..</h3>
	<a href="/"><div class="btn btn-lg btn-default btn-block">Back to Title</div></a>
</div>