<link rel="stylesheet" href="css/town.css"> <!-- load styles -->
<div data-ng-controller="townController">
	<div id="click-guard" data-ng-show="atBldg()">
		<div class="vert-centered bldg-interior repair-shop" data-ng-if="atRepair">
			<a class="boxclose" data-ng-click="showRepair()"></a>
			<h1>Repair Shop</h1>
			<div class="book-list">
				<div class="book-horiz" data-ng-repeat="book in file.books">
					<div class="book-img" data-ng-switch="book.mon">
						<img data-ng-switch-when="Comic"	src="img/comic.png"/>
						<img data-ng-switch-when="Novel"	src="img/book.png"/>
						<img data-ng-switch-when="Textbook"	src="img/textbook.png"/>
					</div>
					<div class="book-name"><h3><span>Level {{book.level}}</span>  <span>{{book.mon}}</span></h3></div>
					<div class="hp-bar-red"><div class="vert-centered hp-value">{{book.hp}}/{{book.maxhp}}</div><div class="hp-bar-green" data-ng-style="setHP(book.hp,book.maxhp)"></div></div>
					<div class="checkbox" data-ng-click="selectForRepair(book)"></div>
				</div>
			</div>
		</div>
		<div class="vert-centered bldg-interior book-smith"  data-ng-if="atSmith">
			<a class="boxclose" data-ng-click="showSmith()"></a>
			<h1>Merger Bros. Press</h1>
			<p><i>Welcome to the Merger Bros.!</i></p>
			<p><i>Uhh, we're kinda busing moving into town right now, we'll be all set up real soon! Sorry for now!</i></p>
		</div>
		<div class="vert-centered bldg-interior book-store"  data-ng-if="atStore">
			<a class="boxclose" data-ng-click="showStore()"></a>
			<h1>Book Store</h1>
			<p><i>The Book Store is currently closed for further renovation. Please come back later. Our business hours are...</i></p>
		</div>
	</div>
	<div id="town-service-list" data-ng-style="blur()">
		<div class="town-bldg repair-shop" data-ng-click="showRepair()">
			<h3>Repair Shop</h3>
			<p>Got books in need of repair? Send them here for a good fixer-upper.</p>
		</div>
		<div class="town-bldg book-smith" data-ng-click="showSmith()">
			<h3>The Merger Press</h3>
			<p>Upgrade your books and combine them! Create the ultimate book collection!</p>
		</div>
		<div class="town-bldg book-store" data-ng-click="showStore()">
			<h3>Book Store</h3>
			<p>Books for Sale! Our stock changes daily! You might find a rare one!</p>
		</div>
		<a href="/game/trade"><div class="town-bldg book-trade">
			<h3>Harbour</h3>
			<p>Trade books with libraries all over the world!</p>
		</div></a><!--a place on its own-->
	</div>
	<div id="footer">
		<div><h2><span>1,000</span></h2></div>
		<div><a href="/game/library"><div class="btn btn-default"><h4>Back to Library</h4></div></a></div>
	</div>
</div>