<link rel="stylesheet" href="town.css"> <!-- load styles -->
<div data-ng-controller="townController">
	<div id="town-service-list">
		<div class="town-bldg" id="repair-shop"></div>
		<div class="town-bldg" id="book-smith"></div>
		<div class="town-bldg" id="book-store"></div>
		<a href="/game/trade"><div class="town-bldg" id="book-trade"></div></a><!--a place on its own-->
	</div>
	<div id="footer">
		<div><h2><span>1,000</span></h2></div>
		<div><a href="/game/library"><div class="btn btn-default"><h4>Back to Library</h4></div></a></div>
	</div>
</div>