<link rel="stylesheet" href="css/library.css"> <!-- load styles -->
<link rel="stylesheet" href="css/trade.css"> <!-- load styles -->
<div data-ng-controller="tradeController" class="harbour">
	<div id="click-guard" data-ng-show="anyWindow()">
		<div class="vert-centered bldg-interior" id="new-trade-window" data-ng-if="trade">
			<a class="boxclose" data-ng-click="newWindow('trade')"></a>
			<h1>Make a New Trade</h1>
			<form id="form" data-ng-submit="postTrade()">
				<div id="inputs">
					<div class="form-group">
						<label>What book are you trading away?</label>
						<div class="wrapper-dropdown" data-ng-click="dropdown(1)">
							<span>{{getMon(outbound.book)}}</span>
						</div>
						<ul class="dropdown" data-ng-if="dropped(1)">
							<li data-ng-repeat="book in file.books" data-ng-click="selectItem(1,$index)">Level {{book.level}} {{book.mon}}</li>
						</ul>
					</div>
					<div class="form-group">
						<label>What are you looking for?</label>
						<div class="wrapper-dropdown" data-ng-click="dropdown(2)">
							<span>{{outbound.wish}}</span>
						</div>
						<ul class="dropdown" data-ng-if="dropped(2)">
							<li data-ng-repeat="bookType in possibleBooks" data-ng-click="selectItem(2,$index)">{{bookType}}</li>
						</ul>
					</div>
				</div>
				<button id="submit-button" type="submit" class="btn btn-lg btn-success btn-block">Post Trade</button>
			</form>
		</div>
		<div class="vert-centered bldg-interior" id="new-trade-window" data-ng-if="proposal">
			<a class="boxclose" data-ng-click="newWindow('proposal')"></a>
			<h1>Make a Proposal</h1>
			<form id="form" data-ng-submit="sendProposal()">
				<div id="inputs">
					<div class="form-group">
						<label>What book will you trade away?</label>
						<div class="wrapper-dropdown" data-ng-click="dropdown(1)">
							<span>{{getMon(outbound.book)}}</span>
						</div>
						<ul class="dropdown" data-ng-if="dropped(1)">
							<li data-ng-repeat="book in file.books" data-ng-click="selectItem(1,$index)">Level {{book.level}} {{book.mon}}</li>
						</ul>
					</div>
				</div>
				<button id="submit-button" type="submit" class="btn btn-lg btn-success btn-block">Send Proposal</button>
			</form>
		</div>
			<div class="vert-centered bldg-interior" id="new-trade-window" data-ng-if="mailbox">
			<a class="boxclose" data-ng-click="newWindow('mailbox')"></a>
			<h1>Your Mailbox</h1>
			<div id="mailbox">
				<div id="click-guard2" data-ng-show="checking">
					<div id="proposal-checker" class="vert-centered">
						<h1>Trade</h1>
						<div id="trade-details">
							<div class="book-vertical">
								<div class="book-img" data-ng-switch="checking.mine.mon">
									<img data-ng-switch-when="Comic"	src="img/comic.png"/>
									<img data-ng-switch-when="Novel"	src="img/book.png"/>
									<img data-ng-switch-when="Textbook"	src="img/textbook.png"/>
								</div>
								<div class="book-name"><h3><span>Level {{checking.mine.level}}</span>  <span>{{checking.mine.mon}}</span></h3></div>
								<div class="hp-bar-red"><div class="hp-value">{{checking.mine.hp}}/{{checking.mine.maxhp}}</div><div class="hp-bar-green" data-ng-style="setHP(checking.mine.hp,checking.mine.maxhp)"></div></div>
							</div>
							<div><h3 style="margin=0">For</h3><h1><p><i class="fa fa-arrow-right"></i></p></h1></div>
							<div class="book-vertical">
								<div class="book-img" data-ng-switch="checking.theirs.mon">
									<img data-ng-switch-when="Comic"	src="img/comic.png"/>
									<img data-ng-switch-when="Novel"	src="img/book.png"/>
									<img data-ng-switch-when="Textbook"	src="img/textbook.png"/>
								</div>
								<div class="book-name"><h3><span>Level {{checking.theirs.level}}</span>  <span>{{checking.theirs.mon}}</span></h3></div>
								<div class="hp-bar-red"><div class="hp-value">{{checking.theirs.hp}}/{{checking.theirs.maxhp}}</div><div class="hp-bar-green" data-ng-style="setHP(checking.theirs.hp,checking.theirs.maxhp)"></div></div>
							</div>
						</div>
						<div id="trade-buttons">
							<div class="btn btn-warning" data-ng-click="check()">Close</div>
							<div class="btn btn-danger" data-ng-if="checking.isProposer" data-ng-click="cancelTrade()">Withdraw</div>
							<div class="btn btn-success" data-ng-if="!checking.isProposer" data-ng-click="confirmTrade()">Trade</div>
						</div>
					</div>
				</div>
				<div id="proposal-list" data-ng-repeat="proposal in pendingProposals">
					<div data-ng-if="isOwnProposals(proposal)">
						<div class="proposal-text">
							<div><h3><span class="proposed" data-ng-click="check(proposal)">Proposed</span> your</h3></div>
							<div class="book-img" data-ng-switch="proposal.for.mon">
								<img data-ng-switch-when="Comic"	src="img/comic.png"/>
								<img data-ng-switch-when="Novel"	src="img/book.png"/>
								<img data-ng-switch-when="Textbook"	src="img/textbook.png"/>
							</div>
							<div><h3>Your Level {{proposal.for.level}} {{proposal.for.mon}} to {{proposal.poster.file.name}}</h3></div>
						</div>
					</div>
					<div data-ng-if="isResponse(proposal)">
						<div class="proposal-text">
							<div><h3><span class="proposal" data-ng-click="check(proposal)">Proposal</span> for your</h3></div>
							<div class="book-img" data-ng-switch="proposal.what.mon">
								<img data-ng-switch-when="Comic"	src="img/comic.png"/>
								<img data-ng-switch-when="Novel"	src="img/book.png"/>
								<img data-ng-switch-when="Textbook"	src="img/textbook.png"/>
							</div>
							<div><h3>Your Level {{proposal.what.level}} {{proposal.what.mon}} from {{proposal.proposer.file.name}}</h3></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-ng-style="blur()">
		<h1>Harbour</h1>
		<div id="bulletin-board">
			<div class="trade-posting" data-ng-repeat="trade in pendingTrades | noSelfTrade" data-ng-if="pendingTrades.length" data-ng-style="blur()">
				<div><h3><b>Trading</b> : Level {{trade.tradingOut.level}} {{trade.tradingOut.mon}}</h3></div>
				<div><h4><b>For </b>: {{trade.wish}}s</h4></div>
				<b><i>Poster:</i></b>
				<div class="poster-info">
					<h5>{{trade.who.file.name}}</h5>
					<h5>{{trade.who.file.library}}</h5>
				</div>
				<div class="btn btn-default" data-ng-click="newWindow('proposal',trade)">Propose Trade</div>
			</div>
		</div>
		<div data-ng-if="!(pendingTrades | noSelfTrade).length"><i>Aside from yourself, no one seems to be interested in trading books.</i></div>
	</div>

	<div id="footer">
		<div><h2><span>1,000</span></h2></div>
		<div>
			<a href="/game/town"><div class="btn btn-default"><h4>Back to Town</h4></div></a>
			<div class="btn btn-default" data-ng-click="newWindow('mailbox')"><h4>Mailbox</h4></div>
			<div class="btn btn-default" data-ng-click="newWindow('trade')"><h4>Start a Trade</h4></div>
		</div>
	</div>
</div>