<link rel="stylesheet" href="css/trade.css"> <!-- load styles -->
<div data-ng-controller="tradeController" class="harbour">
	<div id="click-guard" data-ng-show="newTrade">
		<div class="vert-centered bldg-interior" id="new-trade-window" data-ng-if="newTrade">
			<a class="boxclose" data-ng-click="newTradeWindow()"></a>
			<h1>Make a New Trade</h1>
		</div>
	</div>
	<div data-ng-style="blur()">
		<h1>Harbour</h1>
		<div data-ng-repeat="trade in pendingTrades" data-ng-if="pendingTrades.length" data-ng-style="blur()">

		</div>
		<div data-ng-if="!pendingTrades.length"><i>There seems to be no trading activity going on.</i></div>
	</div>

	<div id="footer">
		<div><h2><span>1,000</span></h2></div>
		<div><a href="/game/town"><div class="btn btn-default"><h4>Back to Town</h4></div></a><div class="btn btn-default" data-ng-click="newTradeWindow()"><h4>Start a Trade</h4></div></div>
	</div>
</div>